#nav {
    color: #fff;
    background-color: rgb(36, 41, 46);
    border-bottom: 1px solid rgb(80, 115, 134);
    font-weight: 300;
    padding: 0 1em;
    font-weight: 400;
    position: relative;
    z-index: 900;
}
#nav ul {
    margin: 0;
    padding: 0;
}
/* clearfix */
#nav ul::after {
    content: '';
    display: block;
    clear: both;
}
#nav li {
    display: block;
    float: left;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
#nav .selected {
    position: relative;
    display: inline-block;
}

#nav .selected::after {
    position: absolute;
    content: '';
    width: calc(100% - 1em);
    height: 2px;
    background-color: rgb(255,62,0);
    display: block;
    bottom: -1px;
}

#nav a {
    outline-style: none;
    text-decoration: none;
    padding: 1em 0.5em;
    display: block;
}

#nav a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
  

#nav a:active {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#nav li:hover {
    background-color: rgb(255,62,0);
}

#nav li:active {
    background-color: rgba(255, 64, 0, 0.719);
}
